<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
	<connectionStrings>
		<add name="TelecomContext" connectionString="Data Source=RADUCA-GAMINGPC;Initial Catalog=TelecomDB;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>